/* Initial set up */
*{
    margin: 0;
    padding: 0;
}
/* navbar */
.menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px 40px;
}
.company-logo h1{
    font-size: 40px;
}
.company-logo h1:hover{
    color: rgb(183, 22, 22);
    cursor: pointer;
}
.menu-items{
    display: flex;
    margin-right: 75px;
}
.menu-items li {
    list-style: none;
    font-size: 20px;
    margin-left: 20px;
}
.menu-items li:hover{
    color: blue;
    cursor: pointer;
}